{% macro probability_bar(home_name, home_color, home_pct, draw_pct, away_name, away_color, away_pct) %}
<div class="w-full">
  <div class="flex h-7 w-full overflow-hidden rounded-md text-xs font-semibold text-white shadow-inner">
    <div class="flex items-center justify-center transition-all" style="width: {{ home_pct }}%; background-color: {{ home_color }};" title="{{ home_name }} {{ '%.0f'|format(home_pct) }}%">
      {% if home_pct >= 12 %}{{ '%.0f'|format(home_pct) }}%{% endif %}
    </div>
    <div class="flex items-center justify-center bg-gray-400 dark:bg-gray-500 transition-all" style="width: {{ draw_pct }}%;" title="Draw {{ '%.0f'|format(draw_pct) }}%">
      {% if draw_pct >= 12 %}{{ '%.0f'|format(draw_pct) }}%{% endif %}
    </div>
    <div class="flex items-center justify-center transition-all" style="width: {{ away_pct }}%; background-color: {{ away_color }};" title="{{ away_name }} {{ '%.0f'|format(away_pct) }}%">
      {% if away_pct >= 12 %}{{ '%.0f'|format(away_pct) }}%{% endif %}
    </div>
  </div>
  <div class="mt-1 flex justify-between text-xs text-gray-600 dark:text-gray-400">
    <span class="truncate">{{ home_name }} <b>{{ '%.0f'|format(home_pct) }}%</b></span>
    <span class="shrink-0 px-1">Draw <b>{{ '%.0f'|format(draw_pct) }}%</b></span>
    <span class="truncate text-right">{{ away_name }} <b>{{ '%.0f'|format(away_pct) }}%</b></span>
  </div>
</div>
{% endmacro %}

{% macro no_prediction_placeholder() %}
<div class="w-full">
  <div class="flex h-7 w-full items-center justify-center rounded-md bg-gray-100 text-xs text-gray-400 dark:bg-gray-800 dark:text-gray-500">
    prediction not yet available
  </div>
</div>
{% endmacro %}
